*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    display: flex;
    background-color:brown;
    align-self: center;
    height:100vh;
}
.container{
    display: flex;
    flex-direction: column;
    height:400px;
    width: 500px;
    background-color: white;
    padding:50px;
    align-self: center;
    border-radius: 20px;
    margin:auto;
}
.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name,.score
{
    font-size: 20px;
    padding:5px;
}
.score
{
    padding:15px;
}
#button
{
    border-radius: 10px;
    color:rgb(8, 1, 19);
    align-items: center;
    width: 100px;
    height:30px;
    font-size: medium;
    font-weight: bold;
    border: none;
    background-color: rgb(176, 214, 36);
    outline: none;
}
.runs{
    display: flex;
    padding:15px;
}
span.col{
    padding-inline: 5px;
}
.container > .row{
    width:100%;
    justify-content: space-evenly;
}
#button:hover{
    background-color: rgb(91, 151, 31);
    cursor: pointer;
}
#result{
    font-size: x-large;
    width:100%;
    color:rgb(11, 179, 11)
}
